.cluster__container {
  width: 100%;
}
.cluster__control {
  display: flex;
}

.cluster__card {
  flex-grow: 1;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0 0 0.4rem;
  margin-bottom: 0.4rem;
  border: 1px solid rgba($color: #d2b48c, $alpha: 1);
  border-radius: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.15s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: rgb(245, 232, 212);
  }

  &_show {
    background-color: rgb(238, 230, 210);
  }
  &.cancel {
    width: 3rem;
    border: rgb(247, 139, 139) solid 1px;
    color: rgb(182, 72, 72);
    flex-grow: 0;
    margin-left: 0.25rem;
    &:hover {
      background-color: rgb(248, 160, 144);
    }
  }
  &_moreBtn {
    border: none;
    height: 100%;
    width: 2rem;
    background: transparent;
    cursor: pointer;
    transition: all 0.15s ease-out;
    color: rgb(54, 52, 51);

    &_clicked {
      opacity: 0.25;
    }

    &_check {
      transition: all 0.15s ease-out;
      &:hover {
        color: rgba($color: #38b138, $alpha: 1);
      }
    }
  }

  &_input {
    width: 85%;
    outline: none;
    border: none;
    background-color: rgb(245, 243, 242);
    height: 80%;
    padding: 0 0.25rem;
  }
}
